<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO App</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<style>
		.btn-icon svg {
			fill: purple;
			transition: all 0.5s;
			transform: scale(1);
		}
		.btn-icon:hover svg {
			fill: green;
			transform: scale(1.5);
		}
		.green {
			fill: green;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<header class="col-12">
				<h1>TODO App</h1>
			</header>
			<main>
				<a class="btn btn-primary mb-4" href="/todo-add">New Todo</a>
				<% if (todos.length> 0) { %>
					<ul class="list-unstyled">
						<% todos.forEach(entry=> { %>
							<li class="mb-2">
								<a href="/todo-check/<%= entry.id %>" class="text-decoration-none btn-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-check-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" class="green" />
										<path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
									</svg>
								</a>
								<%= entry.todo %>
							</li>
							<% }) %>
					</ul>
					<% } else { %>
						<p>No Todos yet!</p>
						<% } %>
			</main>
		</div>
</body>

</html>