<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO App</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<header class="col-12">
				<h1>TODO App</h1>
			</header>
			<main>
				<form action="/todo-add" method="post">
					<div class="mb-3">
						<label for="todo" class="form-label">Todo</label>
						<input type="text" class="form-control" id="todo" name="todo" required>
					</div>
					<button type="submit" class="btn btn-primary">Add</button>
				</form>
			</main>
		</div>
</body>
</html>